## common settings
build:common --verbose_failures
build:common --strip=always
build:common --jobs=HOST_CPUS

test:common --test_output=all
test:common --jobs=HOST_CPUS

build --config=common
test --config=common

try-import ~/.bazelrc
