build:common --sandbox_debug
build:common --verbose_failures
build:common --strip=always
test:common   --test_output=all

## Local settings
build --config=common
build --jobs=HOST_CPUS
test --jobs=HOST_CPUS

try-import ~/.bazelrc
